name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  DEVELOPER_DIR: /Applications/Xcode-15.0.0.app
  
jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build -v
  test:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - name: Test
      run: swift test -v
